
body {
    background: linear-gradient(rgba(255, 255, 255, 0.286), rgba(255, 255, 255, 0.235)), url(images/MCG\ birds\ eye.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    background-attachment: fixed;
    display: grid;
    grid-template-columns: 30% 40% 30%;
    grid-template-rows: 20% 70% 10%;
    
    
}

.main-header {
    font-family: 'Bungee Spice', cursive;
    font-size: 70px;
    
}

.container {
    grid-column: 2/3;
    grid-row: 2/3;
    text-align: center; 
    
}

.quarters {
    display: flex;
    flex-direction: column;
    align-items: center;
}



.quarter-heading {
    font-size: 40px;
    font-family: 'Bungee Spice', cursive;
    color: darkred;
}

.quarter-button {
    align-items: center;
    text-align: center;
    font-family: 'Gluten', cursive;
    letter-spacing: 1px;
    padding: 10px;
    border-radius: 20px;
    font-size: 13px;
    background-color: rgba(213, 241, 214, 0.552);
    cursor: pointer;
    width: 200px;
} 

#player-position {
    font-family: 'Exo 2', sans-serif;
    color: rgb(13, 12, 12);
    font-size: 25px;
    font-weight: bold;
}

header {
    grid-column: 1/4;
    text-align: center;
}

.sydney-logo {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    grid-column: 1/2;
}

.sydney-logo img {
    width: 150px;
    float: right;
}

.geelong-logo {
    display: flex;
    flex-direction: column;
    grid-column: 3/4;
    margin: 20px;
    
}

.geelong-logo img {
    width: 130px;
    max-height: 170px;
}

.sydney-score {
    font-family: 'Exo 2', sans-serif;
    font-size: 20px;
}

.geelong-score {
    font-family: 'Exo 2', sans-serif;
    font-size: 20px;
    margin-top: 23px;
}

.pop-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.popup {
    display: none;
    justify-content: center;
    background: linear-gradient(rgba(255, 255, 255, 0.299), rgba(255, 255, 255, 0.36)), url("images/e41am4dH.jpeg");
    background-size: cover;
    background-position: center center;
    z-index: 5;
    max-width: 100%;
    padding: 70px;
    text-align: center;
    border-radius: 50px;
    border: 10px solid rgb(228, 34, 34);
}

.popup h1 {
    font-size: 50px;
    font-family: 'Exo 2', sans-serif;
    color: black;
}

.popup button {
    font-size: 30px;
    font-family: 'Gluten', cursive;
    padding: 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.gameboard {
/* vh/vw / rem */
    margin: 7vh auto;
    display: grid;  
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    max-width: 300px;
}

.cell {
    background-color: transparent;
    border: 3px solid rgb(252, 250, 250);
    min-height: 100px;
    min-width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    font-family: 'Gluten', cursive;
    color: red;
}

.cell:nth-child(-n+3) {
    border-top: none;
} 

.cell:nth-child(3n) {
    border-right: none;
}

.cell:nth-child(n+7) {
    border-bottom: none;
}

.cell:nth-child(3n-2) {
    border-left: none;
} 

.pointer {
    pointer-events: none;
}

.timer {
    font-size: 25px;
    font-family: 'Gluten', cursive;
    margin-top: 15px;
}

#restart {
    font-size: 18px;
    line-height: 1;
    border-radius: 500px;
    padding: 15px 15px 10px;
    text-align: center;
    letter-spacing: 2px;
    font-weight: 700;
    color: black;
    background-color: rgba(213, 241, 214, 0.552);
    cursor: pointer;
    width: 120px;
    font-family: 'Gluten', cursive;
    margin-bottom: 20px;
}

@media screen and (max-width: 850px) {
    
    body {
        background: linear-gradient(rgba(255, 255, 255, 0.286), rgba(255, 255, 255, 0.235)), url(images/MCG\ birds\ eye.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        height: 100vh;
        background-attachment: fixed;
        display: grid;
        grid-template-columns: 30% 40% 30%;
        grid-template-rows: 20% 70% 10%;
        
        
    }

    .main-header {
        /* align-content: center; */
        font-family: 'Bungee Spice', cursive;
        font-size: 3em;
        margin-top: 10vh;
    }
    .sydney-logo {
            margin-right: 15px;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            grid-column: 1/2;
    }
        
    .sydney-logo img {
            width: 80px;
            float: right;
    }
        
    .geelong-logo {
            
            margin-left: 15px;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            grid-column: 3/4;
            margin: 10px;
            max-width: 120px;
            
    }
        
    .geelong-logo img {
            width: 70px;
            max-height: 150px;
    }
        
    .sydney-score {
            font-family: 'Exo 2', sans-serif;
            font-size: 10px;
    }
        
    .geelong-score {
            font-family: 'Exo 2', sans-serif;
            font-size: 10px;
            margin-top: 12px;
    }

    .container {
            grid-column: 2/3;
            grid-row: 2/3;
            text-align: center; 
            
    }
        
    .quarter-heading {
            margin-top: 5px;
            font-size: 2em;
            font-family: 'Bungee Spice', cursive;
            color: darkred;
    }
        
    .quarter-button {
            align-items: center;
            text-align: center;
            font-family: 'Gluten', cursive;
            letter-spacing: 1px;
            padding: 10px;
            border-radius: 20px;
            font-size: 0.5em;
            background-color: rgba(213, 241, 214, 0.552);
            cursor: pointer;
            width: 120px;
    } 
        
    #player-position {
            font-family: 'Exo 2', sans-serif;
            color: rgb(13, 12, 12);
            font-size: 15px;
            font-weight: bold;
    }
        
    .timer {
            font-size: 13px;
            font-family: 'Gluten', cursive;
            margin-top: 15px;
    }

    .gameboard {
            /* vh/vw / rem */
            
            margin: 4vh auto;
            display: grid;  
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            max-width: 300px;
    }

    .pop-container {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 80vw;
                
            }
            
            .popup {
                display: none;
                justify-content: center;
                background: linear-gradient(rgba(255, 255, 255, 0.299), rgba(255, 255, 255, 0.36)), url("images/e41am4dH.jpeg");
                background-size: cover;
                background-position: center center;
                z-index: 5;
                max-width: 100%;
                padding: 20px;
                text-align: center;
                border-radius: 50px;
                border: 10px solid rgb(228, 34, 34);
            }
            
            .popup h1 {
                font-size: 1em;
                font-family: 'Exo 2', sans-serif;
                color: black;
            }

            .popup button {
                font-size: 0.4em;
                font-family: 'Gluten', cursive;
                padding: 5px;
                border: none;
                background-color: transparent;
                cursor: pointer;
            }
            
            
            .cell {
                background-color: transparent;
                border: 1.5px solid rgb(252, 250, 250);
                min-height: 6vh;
                min-width: 6vw;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 2.5em;
                font-family: 'Gluten', cursive;
                color: red;
            }

            #restart {
                font-size: 0.6em;
                line-height: 1;
                border-radius: 500px;
                padding: 8px;
                text-align: center;
                letter-spacing: 2px;
                font-weight: 700;
                color: black;
                background-color: rgba(213, 241, 214, 0.552);
                cursor: pointer;
                width: 100px;
                font-family: 'Gluten', cursive;
                margin-bottom: 20px;
            }

}               





