
body {
    background-image: url(images/MCG\ birds\ eye.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 80vh;
    background-attachment: fixed;
    display: grid;
    grid-template-columns: 30% 40% 30%;
    
}

header {
    grid-column: 2/3;
    text-align: center;
}

.sydney-logo {
    grid-column: 1/2;
}

.sydney-logo img {
    width: 150px;
    float: right;
}

.geelong-logo {
    grid-column: 3/4;
    margin: 20px;
}

.geelong-logo img {
    width: 110px;
}

.container {
    grid-column: 2/3;
    text-align: center;
}

.gameboard {

    margin: 50px auto;
    display: grid;  
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    max-width: 300px;

}

.cell {
    background-color: red;
    border: 1px solid yellow;
    min-height: 100px;
    min-width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}

