
body {
    background: linear-gradient(rgba(255, 255, 255, 0.286), rgba(255, 255, 255, 0.235)), url(images/MCG\ birds\ eye.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 80vh;
    background-attachment: fixed;
    display: grid;
    grid-template-columns: 30% 40% 30%;
    
}

.main-header {
    font-family: 'Bungee Spice', cursive;
    font-size: 60px;
    
}

h3 {
    font-family: 'Exo 2', sans-serif;
    color: rgba(202, 17, 17, 1);
    font-size: 30px;
    font-weight: bold;
}

header {
    grid-column: 2/3;
    text-align: center;
}

/* .hidden-header h1 {
    grid-column: 2/3;
    grid-row: 2/3;
    opacity: 0;
} */

.sydney-logo {
    grid-column: 1/2;
    
}

.sydney-logo img {
    width: 150px;
    float: right;
}

.geelong-logo {
    grid-column: 3/4;
    margin: 20px;
}

.geelong-logo img {
    width: 110px;
}

.sydney-score {
    font-family: 'Exo 2', sans-serif;
}

.geelong-score {
    font-family: 'Exo 2', sans-serif;
}

.container {
    grid-column: 2/3;
    text-align: center;
}

.gameboard {

    margin: 50px auto;
    display: grid;  
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    max-width: 300px;

}

.cell {
    background-color: transparent;
    border: 3px solid red;
    min-height: 100px;
    min-width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}

.cell:nth-child(-n + 3) {
    border-top: none;
} 

.cell:nth-child(3n) {
    border-right: none;
}

.cell:nth-child(3n - 2) {
    border-left: none;
} 

.cell:nth-child(n + 7) {
    border-bottom: none;
}

.pointer {
    pointer-events: none;
}



#restart {
    font-size: 18px;
    line-height: 1;
    border-radius: 500px;
    padding: 15px 15px 18px;
    text-align: center;
    letter-spacing: 2px;
    font-weight: 700;
    color: black;
    background-color: transparent;
    cursor: pointer;
    width: 120px;
}


                





